.menu {
    outline: 1px solid yellow;
}

.menu_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu__links_authorized {
    display: flex;
    min-width: 211px;
    height: 18px;
    justify-content: space-between;
}

.menu__links_non-authorized {
    display: none;
}

.menu__link {
    display: flex;
    padding-right: 16px;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    transition: opacity .4s linear;
}

.menu__link_500 {
    font-weight: 500;
}

.menu__link_authorized {
    color: #FFF;
    padding-right: 16px;
}

.menu__link {
    color: #000;
    transition: opacity .4s linear;
}

.menu__link_authorized:last-of-type {
    padding: 0;
}

.menu__link_type_land {
    color: #FFF;
}

.menu__link_type_movies {
    color: #000;
}

.menu__link:hover {
    opacity: .7;
    cursor: pointer;
}

.menu__logo {
    height: 38px;
    padding-left: 70px;
    transition: opacity .4s linear;
}

.menu__logo:hover {
    opacity: .7;
}

.account_wrap {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 32px;
    border-radius: 50px;
    padding-right: 3px;
    margin-right: 70px;
    transition: opacity .4s linear;
}

.account_wrap_land {
    background-color: #2BE080;
}

.account_wrap_movies {
    background-color: #FFF;
}

.account_wrap:hover {
    opacity: 0.7;
}

.account__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: #000;
    margin: 0;
    padding-right: 7px;
    padding-left: 11px;
}

.account__man {
    display: flex;
    background-color: #FFF;
    border-radius: 50px;
    padding: 7.75px;
}

/** !loggedIn && land - styles */
.account__link {
    text-decoration: none;
    padding-right: 30px;
}

.account__link_enter {
    background-color: #2BE080;
    padding: 8px 20px;
    border-radius: 3px;
}

.account__link-text {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    transition: opacity .4s linear;
}

.account__link-text_active {
    color: #000;
}

.account__link-text:hover {
    opacity: .7;
    cursor: pointer;
}
