/** main content */
.content {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex: 1 1;*/
    /*width: 100%;*/
    /*max-width: calc(1140px + 70px * 2);*/
    /*margin: 0 auto;*/
    outline: 4px dashed black;
}

.content__section {
    /*width: 100%;*/
    /*max-width: calc(1140px + 70px * 2);*/
    margin: 0 auto;
    padding: 0 70px;
    outline: 2px dotted darkslategrey;
}
