/** main content */
.content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    outline: 4px dashed black;
}

.content__section {
    background-color: #FFF;
    outline: 4px dotted darkslategrey;
}
