.filter {
    display: flex;
    justify-content: flex-start;
}

.filter_checkbox {
    padding-top: 33px;
}

.filter__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter__btn {
    background-color: #2BE080;
    width: 34px;
    height: 14px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: flex-end;
    background-image: url('../../../images/filter_tumbler-on.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center right 2px;
    cursor: pointer;
    transition: opacity .4s linear;
}

.filter__btn:hover {
    opacity: .8;
}

.filter__header {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding-left: 16px;
}

@media (max-width: 768px) {
    .filter {
        justify-content: flex-end;
    }
    .filter__wrap {
        flex-direction: row-reverse;
    }
    .filter__header {
        padding: 0 18px 0 0;
    }
    .filter_checkbox {
        padding: 30px 0 61px;
    }
}

@media (max-width: 540px) {
    .filter_checkbox {
        padding: 40px 0 50px;
    }
    .filter__header {
        font-size: 11px;
    }
}
