.techs {
    min-height: 625px;
    background-color: #F5F5F5;
}

.sec__header-wrap_techs {
    padding-top: 100px;
}

.article-techs {
    margin: 0;
}

.article-techs__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.55pt;
    margin: 0;
    padding: 90px 0 0;
    text-align: center;
}

.article-techs__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.55pt;
    max-width: 460px;
    padding-top: 26px;
    margin: 0 auto;
}

.techs__list {
    list-style: none;
    margin: 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.techs__item {
    width: 90px;
    background-color: #E8E8E8;
    border-radius: 10px;
    text-align: center;
    padding: 21px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.9px;
    letter-spacing: -0.55pt;
}

@media (max-width: 768px) {
    .techs__list {
        padding-top: 50px;
        flex-wrap: wrap;
    }
    .sec__header-wrap_techs {
        padding-top: 90px;
    }
    .article-techs__title {
        padding-top: 80px;
    }
    .article-techs__text {
        padding-top: 22px;
    }
    .techs__list {
        padding: 83px 0 0;
        flex-wrap: nowrap;
    }
}

@media (max-width: 540px) {
    .techs {
        min-height: 651px;
        padding: 0 18px;
    }
    .sec__header-wrap_techs {
        padding-top: 70px;
    }
    .article-techs__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        padding: 60px 0 0;
    }
    .article-techs__text {
        padding: 24px 0 0;
        font-size: 11px;
        line-height: 16px;
    }
    .techs__list-wrap {
        margin: 0 auto;
    }
    .techs__list {
        padding: 50px 40px 0;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
