.movies__card {
    list-style: none;
    max-width: 270px;
    /*min-height: 100%;*/
    max-height: 230px;
    position: relative;
    overflow: hidden;
    transition: box-shadow .3s linear;
}

.movies__card:hover {
    box-shadow: 0 0 15px rgba(30,30,30,.7);
}

.movies__card_saved-movies {

}

.card__img {
    max-width: 270px;
    overflow: hidden;
}

.card__name {
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 27px;
}

.card__duration {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    color: #A0A0A0;
    padding: 5px 0 16px;
    display: flex;
    cursor: pointer;
    border-top: 1px solid #E8E8E8;
}

.movies__card .card__btn-wrap_delete {
    opacity: .2;
    visibility: hidden;
    transition: opacity .3s ease;
    padding-right: 5px;
}
.movies__card .card__btn-wrap_ button {
    width: 9px;
    height: 9px;
    transition: opacity .3s ease;
}
.card__btn_delete {
    background-color: #efefef;
    border: none;
    border-radius: 50%;
    background-image: url('../../../images/delete_icon_thin.svg');
    background-repeat: no-repeat;
    background-size: 8px 8px;
    background-position: center;
    padding: 8px 8px;
    transition: opacity .4s linear;
    cursor: pointer;
}

.movies__card .card__name:hover .card__btn-wrap_delete {
    opacity: 1;
    visibility: visible;
}
.movies__card .card__duration:hover .card__btn-wrap_delete {
    opacity: 1;
    visibility: visible;
}

.card__btn_heart {
    background-color: #F9F9F9;
    border: none;
    border-radius: 50%;
    background-image: url('../../../images/card_heart_red.svg');
    background-repeat: no-repeat;
    background-size: 10px 8.5px;
    background-position: center;
    padding: 10px 12px;
    transition: opacity .4s linear;
}
.card__btn_heart:hover {
    opacity: .7;
    cursor: pointer;
}

@media (max-width: 768px) {
    .movies__card {
        max-width: 339px;
        min-width: 339px;
        max-height: 270px;
    }
    .card__img {
        max-width: 339px;
        min-width: 339px;
        overflow: hidden;
    }
    .card__name {
        padding: 8px 0 30px;
    }
    .card__duration {
        padding-bottom: 0;
    }
}

@media (max-width: 540px) {
    .movies__card {
        max-width: 300px;
        min-width: 300px;
        min-height: 246px;
    }
    .card__img {
        max-width: 300px;
        min-width: 300px;
        min-height: 168px;
    }
    .card__name {
        font-size: 12px;
        padding: 10px 0 28px;
        line-height: 14.5px;
    }
    .card__duration {
        font-size: 10px;
        line-height: 12px;
    }
}

.card__heart_active {
    background-image: url('../../../images/card_heart_red.svg');
    background-repeat: no-repeat;
    background-size: 10px 8.5px;
    background-position: center right;
}
