/*.movies-card {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    max-width: 200px;*/
/*    background-color: darkgrey;*/
/*    color: #FFF;*/
/*    outline: 1px dashed darkred;*/
/*}*/

.movies__card {
    list-style: none;
    width: 270px;
    min-height: 230px;
    outline: 1px dashed grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-name__wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 14px 0 29px;
    border-bottom: 1px solid #E8E8E8;
}

.card__name {
    font-weight: 500;
    font-size: 13px;
}

.card__heart {
    width: 10px;
    height: 8.5px;
    padding-right: 7.5px;
}

.card__duration {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 11px;
    color: #A0A0A0;
    padding-top: 6px;
}

/*.card__heart_active {*/
/*    background-image: url('../../../images/card_heart_red.svg');*/
/*    background-repeat: no-repeat;*/
/*    background-size: 10px 8.5px;*/
/*    background-position: center right;*/
/*}*/
